.contact-title {
    padding: 56px;
    text-align: center;
}

.contact-form {
    background-color: var(--surface-color-1);
    padding: 80px;
}

.form-container {
    width: 544px;
    margin: 0 auto;
}

.contact-input {
    width: 100%;
    height: 47px !important;
    border-radius: 16px !important;
    padding: 16px 14px !important;
    background-color: var(--surface-variant-30) !important;
    color: var(--surface-variant-80) !important;
    border: none !important;
}