.contact-form {
    background-color: var(--surface-color-1);
    padding: 80px;
}

.contact-form h3 {
    margin: 0 0 32px 0;
    text-align: center;
}

.form-container {
    width: 544px;
    margin: 0 auto;
}

.contact-input {
    width: 100%;
    height: 47px !important;
    border-radius: 16px !important;
    padding: 16px 14px !important;
    background-color: var(--surface-variant-30) !important;
    color: var(--surface-variant-80) !important;
    border: none !important;
    margin-bottom: 24px;
}

.contact-textarea {
    width: 100%;
    height: 141px;
    border-radius: 16px !important;
    padding: 16px 14px !important;
    background-color: var(--surface-variant-30) !important;
    color: var(--surface-variant-80) !important;
    border: none !important;
    resize: none;
    margin-bottom: 24px;
}

.submit-button {
    width: 100% !important;
    height: 48px;
    background-color: var(--primary-color-80);
    color: var(--primary-color-20);
    border-radius: 90px;
    border: none !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    transition: .5s;
}

.submit-button:hover {
    background-color: var(--button-hover);
    filter: brightness(1.1);
}

.submit-button:focus,
.submit-button:active {
    background-color: var(--primary-color-30);
    color: var(--primary-color-90);
}

img {
    width: 100px;
    height: 30px;
}

/* Footer */
@media screen and (max-width: 1024px) {
    .contact-form {
        padding: 32px;
    }

    .form-container {
        width: 100%;
    }
}