.fp-watermark {
    display: none;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    background: #000000;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #0000009d;
}

@media screen and (min-width: 1025px) {
    #fp-nav {
        left: 94% !important;
        position: fixed;
        z-index: 100;
        top: 90%;
        transform: rotate(270deg);
    }
}