section {
    padding: 56px 160px;
}

.intro-section {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .intro-section {
        display: block;
    }
}

.intro-section img {
    width: auto;
    height: 100%;
    max-height: 300px;
}

.intro-section h1 {
    margin-bottom: 64px;
}

@media screen and (max-width: 1024px) {
    .intro-section h1 {
        margin-bottom: 40px;
    }
}

.intro-section p {
    color: var(--surface-variant-80);
}

.intro-section .image-container {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
    .intro-section .image-container {
        display: block;
        margin-top: 64px;
    }
}

.tech-grid {
    display: flex;
    padding: 64px 0 0;
    gap: 50px;
}

@media screen and (max-width: 768px) {
    .tech-grid {
        display: flex;
        flex-wrap: wrap;
        padding: 55px 0 0;
        gap: 30px;
        justify-content: space-between;
    }
}
