@import url(/css/fonts.css);

.s1 {}

.s2 {
    background-color: blue;
}

.s3 {
    background-color: green;
}

.s4 {
    background-color: yellow;
}

.s5 {
    background-color: purple;
}

.side-content {
    display: none;
}

@media screen and (min-width: 1025px) {
    .side-content {
        position: absolute;
        width: 30vw;
        height: 100vh;
        background-color: #1D3557;
        z-index: 99;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .horizontal-content {
        transform: rotate(-90deg);
        width: 100vh;
        height: 100vw;
    }

    .section {
        width: 100vh;
        height: 100vw;
    }

    .section-content {
        text-align: center;
        width: 100vw;
        height: 100vh;
        margin-left: 30vw;
        transform: rotate(90deg);
    }

    img {
        width: 100%;
    }
}

.section {
    height: calc(var(100, 1vh) * 100);
    ;
}