body {
    margin: 0;
    padding: 0;
    background-color: #071520;
    color: white;
    font-family: helvetica;
}

@keyframes title {
    0% {
        background-position: -50% 0%;
    }

    50% {
        background-position: -100% 0%;
    }

    100% {
        background-position: -250% 0%;
    }
}

.section {
    height: 100vh !important;
    width: 100vw !important;
}

.content {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes gradient {
    0% {
        background-position: -50% 0%;
    }

    50% {
        background-position: -100% 0%;
    }

    100% {
        background-position: -250% 0%;
    }
}

.line {
    background: linear-gradient(120deg, rgba(112, 12, 41, 1) 12%, rgba(140, 28, 49, 1) 20%, rgba(170, 47, 60, 1) 30%, rgba(140, 28, 49, 1) 40%, rgba(112, 12, 41, 1) 58%);
    background-size: 200% 200%;
    margin: 12px auto 17px auto;
    animation: gradient 3s Linear infinite;
    width: 65%;
    height: 5px;
}

/* wuzza moon */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* background of the first page */
.left-bg {
    width: 45%;
}

.right-bg {
    width: 55%;
    height: 100vh;
}

.moonlight-1,
.moonlight-2 {
    max-width: 600px;
    max-height: 600px;
    border-radius: 100%;
}

.moonlight-1 {
    width: 500px;
    height: 500px;
    background-color: #14222d;
}

.moonlight-2 {
    width: 400px;
    height: 400px;
    z-index: 1;
    background-color: #1f2d36;
    position: relative;
}

.moon {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    position: absolute;
    z-index: 2;
    animation: rotate 15s linear infinite;
    top: 13%;
    left: 13%;
}