.projects {
    padding: 0 160px;
}

@media screen and (max-width: 1024px) {
    .projects {
        padding: 0 32px;
    }
}

.projects h2 {
    padding: 64px 0;
}

.projects-container {
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-direction: column;
}

.project {
    display: flex;
    gap: 32px;
    width: 100%;
}

.project .image {
    background-color: black;
    flex-basis: 60%;
    max-width: 60%;
    min-height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-summary {
    flex-basis: 40%;
    max-width: 40%;
}

.project-detail {
    margin-top: 24px;
}

.project-detail p {
    font-weight: 400;
    color: var(--surface-variant-80);
}