:root {
    --color-primary: #0F1537;


    --color-header-gradient-1: #00C4FEE3;
    --color-header-gradient-2: #01052D62;

    --color-active: #CA22E9;
    --color-white: #fff;

    --header-font: 'Sarabun Medium';
}

@font-face {
    font-family: 'Sarabun Medium';
    src: url('../font/Sarabun-Medium.woff2') format('woff2'),
        url('../font/Sarabun-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BenzGrotesk';
    src: url('../font/BenzGrotesk-Heavy.woff2') format('woff2'),
        url('../font/BenzGrotesk-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-size: 60px !important;
}

h2 {
    font-size: 50px !important;
}

h3 {
    font-size: 30px !important;
}

h4 {
    font-size: 25px !important;
}

h5 {
    font-size: 20px !important;
}

h6 {
    font-size: 20px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'BenzGrotesk';
    margin-top: 0;
    line-height: 120% !important;
    color: var(--color-white);
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 48px !important;
    }

    h2 {
        font-size: 40px !important;
    }

    h3 {
        font-size: 25px !important;
    }

    h4 {
        font-size: 20px !important;
    }

    h5 {
        font-size: 16px !important;
    }

    h6 {
        font-size: 16px !important;
    }
}


p {
    font-size: 20px !important;
    line-height: 140%;
}


@media screen and (max-width: 1023px) {
    p {
        font-size: 16px !important;
    }
}
