:root {
    --primary-color-20: #00344D;
    --primary-color-30: #004C6E;
    --primary-color-80: #89CEFF;
    --primary-color-90: #C9E6FF;

    --secondary-color-20: #21323F;
    --secondary-color-30: #384956;
    --secondary-color-80: #B7C9D9;
    --secondary-color-90: #D3E5F5;

    --tertiary-color-20: #690005;
    --tertiary-color-30: #93000A;
    --tertiary-color-80: #FFB4AB;
    --tertiary-color-90: #FFDAD6;

    --surface-color: #191C1E;
    --surface-color-1: #1F2529;
    --surface-color-2: #222A30;
    --surface-color-3: #253037;
    --surface-color-4: #263139;
    --surface-color-5: #29353E;

    --surface-variant-30: #41474D;
    --surface-variant-80: #C1C7CE;

    --outline-color: #8B9198;
    --font-color: #E2E2E5;
    --button-hover: #9ED7FF;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../font/Satoshi-Regular.woff2') format('woff2'),
        url('../font/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi Bold';
    src: url('../font/Satoshi-Bold.woff2') format('woff2'),
        url('../font/Satoshi-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-size: 4rem !important;
    font-family: 'Satoshi Bold';
}

h2 {
    font-size: 3rem !important;
    font-family: 'Satoshi Bold';
}

h3 {
    font-size: 2.5rem !important;
    font-family: 'Satoshi Bold';
}

h4 {
    font-size: 2rem !important;
    font-family: 'Satoshi Bold';
}

h5 {
    font-size: 1.5rem !important;
    font-family: 'Satoshi Bold';
}

h6 {
    font-size: 1rem !important;
    font-family: 'Satoshi Bold';
}
